/* Fonts used for the page */
/************ Fonts for the page ************/

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/************ Default Css For All Page ************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}


body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: #7FFF00;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.social-icon {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Esto oculta el botón */
nav.navbar .navbar-toggler {
  display: none;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

#icon-navbar {
  color: #fff;
}

nav.navbar .navbar-collapse.show {
  background-color: #121212;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

nav.navbar .navbar-nav .nav-link {
  padding: 15px 20px;
}

nav.navbar .navbar-collapse.show .nav-link,
nav.navbar .navbar-collapse.show .social-icon a img {
  color: #ffffff;
}

nav.navbar .navbar-collapse {
  transition: background-color 0.3s ease;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 150px 0 100px 0;
  background-image: url('./assets/img/bkg-blue.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: none;
  /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 85px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  animation: updown 3s linear infinite;
  border-radius: 40%;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

/* Media Queries para dispositivos móviles */
@media only screen and (max-width: 768px) {

  .banner {
    padding: 60px 20px 40px 20px;
    /* Reducción del padding en móviles */
    background-position: center center;
    /* Centrar la imagen de fondo en móviles */
  }

  .banner .tagline {
    font-size: 16px;
    /* Ajustar el tamaño de fuente en móviles */
    margin-bottom: 12px;
  }

  .banner h1 {
    font-size: 40px;
    /* Reducir el tamaño de fuente del h1 en móviles */
    margin-bottom: 15px;
  }

  .banner p {
    font-size: 16px;
    /* Ajustar el tamaño de fuente del párrafo en móviles */
    width: 100%;
    /* Aumentar el ancho a pantalla completa */
    line-height: 1.4em;
    /* Ajuste del interlineado */
  }

  .banner button {
    font-size: 18px;
    /* Ajustar el tamaño de fuente del botón en móviles */
    margin-top: 30px;
    /* Reducir el margen superior del botón en móviles */
  }

  .banner button svg {
    font-size: 20px;
    /* Reducir el tamaño del icono SVG en móviles */
    margin-left: 5px;
    /* Reducir el margen izquierdo del SVG en móviles */
  }

  .banner button:hover svg {
    margin-left: 15px;
    /* Ajustar el margen izquierdo del SVG en el hover en móviles */
  }
}

/* ServicesSection.css */

.services-wrapper {
  /* This ensures everything is centered and limits the width */
  text-align: center;
  max-width: auto;
  margin: 0 auto;
  background-color: #0658F6;
}

.services-title {
  font-size: 2.5rem;
  /* Example size, adjust as needed */
  color: #ffffff;
  /* Example color, adjust as needed */
  margin-bottom: 1rem;
  /* Space before the services section starts */
  text-transform: uppercase;
  /* Stylistic choice for titles */
}

.services-section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  /* This will make sure that all child elements stretch to the same height */
  padding: 40px 20px;
  background-color: #0658F6;
  gap: 20px;
  /* This adds space between the service categories */
}

.service-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  place-items: center;
  padding: 20px;
  flex: 1;
  /* This ensures that all service-category elements take up equal width */
  min-height: 300px;
  /* Adjust the min-height as needed to ensure they start off the same */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background: #ffffff;
  /* or any other color */
  transition: all 0.3s ease;
  color: #000;
}

.service-category:hover {
  transform: translateY(-5px);
  /* Slight raise on hover for interactivity */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  /* Enhanced shadow on hover for depth */
}

.service-icon {
  font-size: 4rem;
  /* Haz el ícono más grande si es necesario */
  color: #0658F6;
  /* Ajusta a un azul claro según la imagen proporcionada */
  margin-bottom: 20px;
  align-self: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  /* Puedes ajustar esto si necesitas que el contenedor del ícono sea más grande */
  height: 64px;
  /* Asegúrate de que width y height sean iguales para mantener la forma circular */
}

.service-category span {
  font-size: 4rem;
  /* Haz el ícono más grande si es necesario */
  color: #0658F6;
  /* Ajusta a un azul claro según la imagen proporcionada */
  margin-bottom: 1rem;
}

.service-icon:hover {
  transform: scale(1.1);
  /* Aumenta ligeramente el tamaño al pasar el ratón por encima */
  color: #003cb3;
  /* Cambiamos el color a un azul más oscuro al pasar el ratón por encima, si se desea */
}

.service-category h2 {
  text-align: center;
  font-size: 1.5rem;
  /* Tamaño de fuente grande para mayor impacto visual */
  font-weight: bold;
  /* Negrita para destacar el título */
  margin-bottom: 15px;
  /* Espacio debajo para separarlo del contenido que sigue */
  color: #000;
  /* Color negro para el texto, puedes cambiarlo por un gradiente si deseas */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  /* Sombra de texto sutil para profundidad */
  letter-spacing: 0.05em;
  /* Espaciado entre letras para mejorar la legibilidad */
  text-transform: uppercase;
  /* Transforma el texto a mayúsculas para un look distintivo */
  transition: color 0.3s ease;
  /* Transición suave para los cambios de color */

  /* Estilos de gradiente para el texto, opcional */
  background: -webkit-linear-gradient(45deg, #0658F6, #0658F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Añadir una animación que haga 'respirar' el texto, opcional */
  animation: pulse 6s infinite;
}

/* Define la animación pulse */
@keyframes pulse {
  0% {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  50% {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  }

  100% {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}

.service-category h2:hover {
  color: #0658F6;
  /* Cambia el color del texto al pasar el mouse para interactividad */
  cursor: pointer;
  /* Cambia el cursor para indicar que el título es interactivo */
}

.service-category ul {
  margin-top: 15px;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  /* Centrar la lista horizontalmente si es necesario */
  width: 100%;
  max-width: 600px;
  /* Establecer una anchura máxima para la lista */
  background: #ffffff;
  /* Color de fondo para la lista */
  border-radius: 8px;
  /* Bordes redondeados para la lista */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra sutil para la lista */
  overflow: hidden;
  /* Asegura que todo el contenido se ajuste a los bordes redondeados */
}

.service-category li {
  line-height: 1.5;
  /* Espaciado de línea para mejor legibilidad */
  font-size: 1rem;
  /* Tamaño de fuente estándar */
  color: #000;
  /* Color del texto */
  padding: 10px 20px;
  /* Añade un poco de relleno para hacer cada elemento `li` más clickeable */
  border-bottom: 1px solid #eaeaea;
  /* Línea divisora sutil entre elementos de la lista */
  transition: background-color 0.3s ease;
  /* Transición suave para el efecto hover */
}

.service-category li:last-child {
  border-bottom: none;
  /* Elimina el borde del último elemento para mantener la uniformidad */
}

.service-category li:hover {
  background-color: #f8f8f8;
  /* Cambia el color de fondo al pasar el cursor */
  cursor: pointer;
  /* Cambia el cursor para indicar que el elemento es interactivo */
}

/* Media queries para pantallas de tabletas */
@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  .service-category {
    /* Restablecer la propiedad flex que no se necesita para la disposición en columna */
    flex: none;
    width: 100%;
    /* Ocupar el ancho completo en dispositivos más pequeños */
    min-height: 0;
    /* O puedes ajustar a una altura mínima específica si es necesario */
    margin-bottom: 20px;
    /* Añadir espacio entre categorías */
  }
}

/* Media queries para pantallas de móviles */
@media (max-width: 600px) {
  .services-section {
    flex-direction: column;
    /* Los elementos se apilan verticalmente */
    padding: 20px 10px;
    /* Reducimos el padding para ahorrar espacio */
    gap: 10px;
    /* Menor espacio entre categorías de servicio */
  }

  .service-category {
    width: 100%;
    /* Cada categoría de servicio toma el ancho completo de la pantalla */
    min-height: auto;
    /* Altura mínima automática para acomodar el contenido */
    padding: 20px;
    /* Espacio interno suficiente */
    margin-bottom: 20px;
    /* Espacio adicional en la parte inferior de cada categoría */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra más sutil para no sobrecargar */
    /* Restablecemos cualquier propiedad flex que pudiera interferir con el diseño de columna */
    flex: none;
    align-items: stretch;
    /* Esto asegura que el texto y los elementos se estiren a los lados */
  }

  .service-category:hover {
    /* En dispositivos móviles, el efecto hover no es tan relevante, así que lo desactivamos */
    transform: none;
    box-shadow: none;
  }

  .service-icon {
    font-size: 2.5rem;
    /* Reducimos el tamaño de los íconos para dispositivos más pequeños */
  }

  .service-category h2 {
    color: #0658F6;
    font-size: 1.2rem;
    /* También reducimos el tamaño del título para adaptarnos al espacio */
    margin-bottom: 15px;
    /* Menos espacio debajo del título */
    /* Eliminamos el gradiente para simplificar y mejorar la legibilidad en pantallas pequeñas */
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
  }

  .service-category ul {
    max-width: none;
    /* Permitimos que la lista ocupe el ancho disponible */
  }

  .service-category li {
    font-size: 0.9rem;
    /* Tamaño de fuente más pequeño para los elementos de la lista */
    padding: 10px;
    /* Ajustamos el relleno para que sea coherente */
  }
}

/* FAQSection.css */
.faq-section {
  color: white;
  background-color: #000;
  /* Fondo negro */
  padding: 40px;
  /* Ajusta según sea necesario */
  font-family: 'Arial', sans-serif;
  /* Usa la fuente deseada */
}

.faq-header h2 {
  text-transform: uppercase;
  opacity: 0.7;
  /* Opacidad reducida para el subtítulo */
  font-size: 1.2rem;
  /* Aumenta el tamaño de la fuente */
  margin-bottom: 0.5rem;
  /* Espacio debajo del subtítulo */
}

.faq-header h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  /* Tamaño de fuente más grande para el título principal */
  margin-bottom: 1rem;
  /* Espacio debajo del título principal */
  font-weight: bold;
  /* Fuente en negrita */
}

.faq-header p {
  margin-bottom: 2rem;
  /* Espacio adicional debajo del párrafo */
}

.faq-list {
  border-top: 1px solid #333;
  /* Línea divisoria en la parte superior de la lista */
}

.faq-item {
  border-bottom: 1px solid #333;
  /* Línea divisoria para cada pregunta */
  padding: 1.5rem 0;
  /* Más espacio verticalmente */
}

.faq-question {
  background: none;
  border: none;
  color: white;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 1.25rem;
  /* Tamaño de fuente más grande para las preguntas */
  font-weight: bold;
  /* Fuente en negrita para las preguntas */
  transition: all 0.3s ease;
  /* Transición suave para efectos hover y active */
}

.faq-question:hover,
.faq-question.active {
  color: #3978f8;
  /* Cambio de color al pasar el ratón por encima y cuando está activo */
}

.faq-toggle {
  float: right;
  font-size: 1.5rem;
  /* Tamaño de fuente más grande para el símbolo de toggle */
  transition: transform 0.3s ease;
  /* Transición suave para la rotación del toggle */
}

.faq-question.active .faq-toggle {
  transform: rotate(45deg);
  /* Rotación del símbolo de toggle cuando está activo */
}

.faq-answer {
  display: none;
  /* Oculta la respuesta inicialmente */
  padding-top: 10px;
  /* Espacio antes de la respuesta */
  font-size: 1rem;
  /* Tamaño de fuente para la respuesta */
  text-align: justify;
  /* Alineación justificada para una mejor legibilidad */
}

.faq-question.active+.faq-answer {
  display: block;
  /* Muestra la respuesta cuando la pregunta está activa */
  animation: fadeIn 0.7s ease-in-out;
  /* Animación suave al aparecer */
}

/* Animación para el efecto fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media queries para pantallas de móviles */
@media (max-width: 600px) {
  .faq-section {
    padding: 20px;
    /* Reducimos el padding para dispositivos móviles */
  }

  .faq-header h2 {
    font-size: 1rem;
    /* Reducimos el tamaño de la fuente para el subtítulo */
    margin-bottom: 0.25rem;
    /* Menos espacio debajo del subtítulo */
  }

  .faq-header h1 {
    font-size: 1.8rem;
    /* Reducimos el tamaño de la fuente para el título principal */
    margin-bottom: 0.5rem;
    /* Menos espacio debajo del título principal */
  }

  .faq-header p {
    margin-bottom: 1rem;
    /* Menos espacio debajo del párrafo */
    font-size: 0.9rem;
    /* Opcional: Puedes reducir la fuente del párrafo si es necesario */
  }

  .faq-item {
    padding: 1rem 0;
    /* Menos espacio vertical para cada pregunta */
  }

  .faq-question {
    font-size: 1rem;
    /* Tamaño de fuente más pequeño para las preguntas */
    /* Opcional: puedes añadir padding a los botones para hacerlos más fáciles de tocar */
  }

  .faq-toggle {
    font-size: 1.2rem;
    /* Un poco más grande para facilitar la interacción táctil */
  }

  .faq-answer {
    /* Ajusta el tamaño de la fuente y el padding según sea necesario para las respuestas */
    font-size: 0.9rem;
    /* Tamaño de fuente más pequeño para las respuestas */
  }

  /* Si necesitas ajustar algo cuando la respuesta está activa, también puedes hacerlo aquí */
  .faq-question.active+.faq-answer {
    /* Ajustes para la respuesta activa en móviles */
  }
}



/************ timeline Css ************/

.timeline {
  padding: 50px 0 50px 0;
  position: relative;
  background-image: url('./assets/img/bkg-blue.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-bx {
  background: rgba(64, 148, 227, 0.7);

  border-radius: 64px;
  text-align: center;
  padding: 40px;
  margin-top: -85px;
  margin-bottom: 70px;

}

#timeline-bx-text {
  color: #4A2FBD;
  width: 70%;
  height: auto;
}

.timeline h2 {
  font-size: 45px;
  font-weight: 700;
}

.timeline p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.timeline-slider {
  width: 80%;
  margin: 0px auto;
  position: relative;
}

.timeline-slider .item img {
  width: 45%;
  margin: 0 auto 10px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

#link-card-timeline {
  text-decoration: none;
  color: #fff;
}

.time-imgbx {
  position: relative;
  border-radius: 30px;
  width: 100%;
  margin: 0 auto 10px auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.time2-imgbx {
  position: relative;
  border-radius: 30px;
  width: 100%;
  margin: 0 auto 10px auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.time-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #0658F6 -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.25s ease-in-out;
}

/* .time-imgbx:hover::before {
  height: 100%;
} */

.time-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 75%;
}

/* .time-imgbx:hover .time-txtx {
  top: 50%;
  opacity: 1;
} */


.timeline .nav.nav-pills {
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.timeline .nav.nav-pills .nav-item {
  width: 50%;
}

.timeline .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.timeline .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #0658F6 -5.91%, #ede9e9 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.timeline .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.timeline .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#timelines-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#timelines-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 767px) {
  .timeline {
    padding: 30px 0;
  }

  .timeline-bx {
    border-radius: 24px;
    padding: 20px;
    margin-top: -40px;
    margin-bottom: 35px;
  }

  #timeline-bx-text {
    width: 100%;
  }

  .timeline h2 {
    font-size: 30px;
  }

  .timeline p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .timeline-slider {
    width: 100%;
  }

  .timeline-slider .item img {
    width: 60%;
  }

  .background-image-left {
    display: none;
    /* Ocultamos la imagen si es innecesaria en móviles */
  }

  .time-imgbx,
  .time2-imgbx {
    margin-bottom: 20px;
  }

  .timeline .nav.nav-pills {
    width: 100%;
  }

  .timeline .nav.nav-pills .nav-link {
    font-size: 15px;
    padding: 12px 0;
  }

  .nav-link#timelines-tabs-tab-first,
  .nav-link#timelines-tabs-tab-second {
    border: none;
    /* Eliminar bordes adicionales */
  }
}

/************ Skills Css ************/

.skill {
  padding: 0 0 50px 0;
  position: relative;
  background-image: url('./assets/img/bkg-blue.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.skill-bx {
  background: #ffffff;
  border-radius: 64px;
  text-align: center;
  padding: 40px;
  margin-top: -60px;

}

#skill-bx-text {
  color: #4A2FBD;
  width: 70%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0px auto;
  position: relative;
}

.skill-slider .item img {
  width: 45%;
  margin: 0 auto 10px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 768px) {
  .skill h2 {
    font-size: 28px;
  }

  .skill p {
    font-size: 14px;
    margin: 10px 0 50px 0;
  }

  #skill-bx-text {
    width: 90%;
  }

  .skill-slider .item img {
    width: 50%;
  }

  .skill-bx {
    padding: 20px;
    margin-top: -30px;
  }
}

/************ Project Css ************/

.project {
  padding: 50px 0 50px 0;
  position: relative;
  background-image: url('./assets/img/bkg-blue.png');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-bx {
  background: rgba(64, 148, 227, 0.7);

  border-radius: 64px;
  text-align: center;
  padding: 40px;
  margin-top: -10px;
}

#project-bx-text {
  color: #4A2FBD;
  width: 70%;
  height: auto;
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
}

.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 25px 0;
}

.project-slider {
  width: 90%;
  /* Slightly increased width */
  margin: 0 auto;
  /* Centered horizontally */
  position: relative;
  padding: 20px;
  /* Padding around the slider for spacing from other elements */

}

.project-slider .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* Height adjusted to fit the content */
  margin: 20px;
  /* More space around each item */
  padding: 10px;
  /* Padding inside each item */
  border-radius: 20px;
  /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for each item */
  background-color: #0656f65e;
  /* Changed to a white background for better contrast */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Smooth transition for hover effects */
}

.project-slider .item:hover {
  transform: scale(1.03);
  /* Gentle scaling effect on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Slightly more pronounced shadow on hover */
}

.project-slider .item img {
  max-width: 100%;
  /* Max-width to ensure the image is responsive */
  max-height: 180px;
  /* Max-height to keep images uniform */
  object-fit: contain;
  /* Ensures images don't get cropped or distorted */
}

/* proyectos web */
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

#link-card-project {
  text-decoration: none;
  color: #fff;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  width: 65%;
  margin: 0 auto 10px auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #0658F6 -5.91%, #0656f65e 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.25s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 75%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

/* pills */
.project .nav.nav-pills {
  border-radius: 50px;
  /* Maintains the rounded corners */
  background-color: transparent;
  /* Removes the large pill background */
  box-shadow: none;
  /* Removes any shadow that may be suggesting a large pill */
}

.project .nav-pills .nav-link {
  display: inline-block;
  /* Allows custom shaping */
  margin: 0 20px;
  /* Adds space around each pill for emphasis */
  padding: 15px 30px;
  /* Generous padding for a pill shape */
  color: #fff;
  /* White text for contrast */
  background-color: rgba(255, 255, 255, 0.2);
  /* Slightly visible background for inactive state */
  border-radius: 25px;
  /* Rounded edges for a pill shape */
  font-size: 17px;
  /* Increased font size for legibility */
  transition: all 0.3s ease;
  /* Smooth transition for interaction states */
  text-decoration: none;
  /* Removes underline from links */
}

.project .nav-pills .nav-link.active {
  color: #0658F6;
  /* Blue text for the active state */
  background-color: #fff;
  /* Solid white background for the active pill */
  border-radius: 25px;
  /* Maintains the pill shape */
}

/* Hover effect to provide feedback */
.project .nav-pills .nav-link:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.3);
  /* Lightens the background on hover */
}

/* We'll remove any ::before pseudo-element that may be adding extra visuals we no longer need */
.project .nav.nav-pills .nav-link::before {
  content: none;
  /* Eliminates the pseudo-element */
}

/* Make sure the focus state is clear for accessibility */
.project .nav-pills .nav-link:focus {
  outline: none;
  /* Removes the default outline */
  box-shadow: 0 0 0 2px rgba(6, 88, 246, 0.5);
  /* Custom focus glow */
}


@media screen and (max-width: 768px) {
  .project h2 {
    font-size: 28px;
  }

  .project p {
    font-size: 14px;
    margin: 10px 0 40px 0;
  }

  #project-bx-text {
    width: 90%;
  }

  .project-slider .item img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .project-bx {
    padding: 20px;
    margin-top: -5px;
  }

  .proj-imgbx {
    width: 80%;
  }

  .project .nav-pills .nav-link {
    margin: 0 10px;
    /* Slightly less space around each pill */
    padding: 12px 25px;
    /* Slightly less padding for a smaller pill shape */
    font-size: 15px;
    /* Slightly smaller font size to fit more content */
  }

  .project .nav-pills {
    display: flex;
    /* Ensure flex display for proper alignment */
    justify-content: center;
    /* Center pills in the available space */
  }
}

/* Media Queries for Mobiles (480px) */
@media (max-width: 480px) {
  .project .nav-pills .nav-item {
    display: flex;
    /* Enables flexbox for nav-items */
    flex-grow: 1;
    /* Each nav-item will grow equally */
    width: 100%;
    /* Full width to use the available space */
  }

  .project .nav-pills .nav-link {
    flex-grow: 1;
    /* Allows the link to fill the nav-item */
    width: 100%;
    /* Ensures the link fills the width of the nav-item */
    margin: 0;
    /* Reset margins */
    padding: 15px 0;
    /* Vertical padding only, horizontal will be taken care of by flex-grow */
    text-align: center;
    /* Ensures text is centered */
    border-radius: 30px;
    /* Fully rounded edges for a pill shape */
  }

  .project .nav-pills {
    flex-direction: column;
    /* Stack the pills vertically */
    gap: 15px;
    /* Add some space between the stacked pills */
  }

  /* Adjustments for active state and hover effects as needed */
}


/* testimonials */
.testimonials-section {
  width: 100%;
  padding: 50px 20px;
  background: linear-gradient(135deg, #0658F6 0%, #497BFC 100%);
  text-align: center;
}

.testimonial {
  height: 325px;
  max-width: 600px;
  /* Ancho máximo para cada testimonial */
  margin: 20px auto;
  /* Centrar los testimoniales y dar espacio arriba y abajo */
  padding: 20px;
  background: white;
  /* Fondo blanco para cada testimonial */
  border-radius: 15px;
  /* Bordes redondeados suaves */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  display: flex;
  /* Utilizar flexbox para alinear imagen y texto */
  flex-direction: column;
  /* Elementos apilados verticalmente */
  align-items: center;
  /* Centrar elementos horizontalmente */
  gap: 10px;
  /* Espacio entre elementos */
  flex-direction: column;
  justify-content: space-between;
}

.testimonial img {
  border-radius: 50%;
  /* Imágenes redondas para avatares */
  width: 120px;
  /* Tamaño más grande para avatares */
  height: 120px;
  /* Mantener la relación de aspecto */
  object-fit: cover;
  /* Asegurar que la imagen cubra el espacio sin distorsionarse */
  border: 3px solid #eee;
  /* Borde sólido para que resalte sobre el fondo blanco */
  margin-top: -30px;
  /* Ajusta esta cantidad para bajar la imagen */
  background: white;
  /* Fondo blanco para evitar que se vea el fondo al cargar */
  z-index: 1;
  /* Asegúrate de que la imagen esté sobre otros elementos */
  position: relative;
  /* Necesario para que z-index tenga efecto */
}

.testimonial h3 {
  font-size: 1.2rem;
  /* Tamaño de fuente para el nombre */
  color: #333;
  /* Color oscuro para el texto */
  margin: 0;
  /* Quitar el margen por defecto */
}

.testimonial p {
  font-size: 1rem;
  /* Tamaño de fuente para el título */
  color: #777;
  /* Color más claro para el título/descripción */
  margin: 0;
  /* Quitar el margen por defecto */
}

.testimonial blockquote {
  font-style: normal;
  /* Quitar la cursiva para seguir el estilo de Instagram */
  font-size: 0.9rem;
  /* Tamaño de fuente más pequeño para la cita */
  color: #555;
  /* Color de texto para la cita */
  border-left: 3px solid #ddd;
  /* Barra vertical para indicar que es una cita */
  padding-left: 15px;
  /* Espacio a la izquierda de la cita */
  text-align: left;
  /* Alinear el texto a la izquierda */
  margin: 20px 0;
  /* Espacio arriba y abajo de la cita */
}

/* Selector para los puntos de navegación de Slick Slider */
.slick-dots li button:before {
  font-size: 12px;
  /* Ajustar el tamaño si es necesario */
  color: #fff;
  /* Cambiar a blanco para contraste */
}

.slick-dots li.slick-active button:before {
  color: #000;
  /* Color más oscuro para el punto activo */
}

.find-us-section {
  margin-top: 50px;
  /* Aumenta el espacio en la parte superior */
}

.platform-buttons {
  margin-top: 15px;
  /* Aumenta el espacio en la parte superior */
}

.platform-buttons button {
  margin: 0 5px;
  /* Spacing between buttons */
  padding: 10px 20px;
  /* Button padding */
  border: none;
  /* Remove border */
  background-color: #0658F6;
  /* Button background color */
  color: #fff;
  /* Button text color */
  border-radius: 5px;
  /* Rounded corners */
  cursor: pointer;
  /* Pointer cursor on hover */
  text-transform: uppercase;
  /* Uppercase text for button */
  font-weight: bold;
  /* Bold font for the button text */
  transition: background-color 0.3s ease;
  /* Transition for hover effect */
}

.platform-buttons button:hover {
  background-color: #003cb3;
  /* Darker shade on hover */
}

.button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Espacio entre botones */
  font-weight: bold;
  color: white;
  background-color: #0658F6;
  /* Color principal de los botones */
  padding: 10px 20px;
  /* Espaciado interno para los botones */
  border-radius: 5px;
  /* Bordes redondeados */
}


.button:hover {
  background-color: #0468d7;
  /* Un tono más claro al pasar el ratón */
  transform: translateY(-2px);
  /* Eleva ligeramente el botón */
}

.button:active {
  transform: scale(0.98);
  /* Efecto de pulsación al hacer clic */
}


/* Styles for tablets */
@media (max-width: 768px) {
  .testimonial {
    max-width: 80%;
    /* Use percentage for responsive width */
    padding: 15px;
    /* Adjust padding as needed */
  }

  .testimonial img {
    width: 100px;
    /* Adjust avatar size as needed */
    height: 100px;
    /* Keep the aspect ratio square */
    margin-top: -30px;
    /* Pull the avatar up to overlap the card slightly */
    border-radius: 50%;
    /* Add this to make the avatar circular */
  }

  .testimonial h3 {
    font-size: 1.2rem;
    /* Increase the font size for better readability */
  }

  .testimonial p {
    font-size: 1rem;
    /* Slightly larger font size for titles */
  }

  .testimonial blockquote {
    font-size: 0.9rem;
    /* Adjust blockquote font size for readability */
  }
}

/* Styles for mobile phones */
@media (max-width: 480px) {
  .testimonial {
    max-width: 90%;
    /* Use more width for a better fit */
    margin: 20px auto;
    /* Center the card with automatic horizontal margins */
    padding: 15px;
    /* Consistent padding with tablet view */
  }

  .testimonial img {
    width: 90px;
    /* Slightly reduce the avatar size */
    height: 90px;
    /* Keep the aspect ratio */
    margin-top: -30px;
    /* Adjust the overlap as per the new size */
  }

  .testimonial h3,
  .testimonial p,
  .testimonial blockquote {
    padding: 0 15px;
    /* Increase side padding for breathing space */
  }

  .testimonial blockquote {
    font-size: 0.85rem;
    /* Slightly larger font size than previously set for blockquotes */
  }
}



/************ Contact Css ************/
.contact {
  background: #0658F6;
  /* padding: 60px 0 200px 0; */
}

.contact img {
  width: 92%;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #0658F6;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

@media only screen and (max-width: 768px) {

  .contact img {
    width: 100%;
    /* Ajustando la imagen para que ocupe todo el ancho en móviles */
  }

  .contact h2 {
    font-size: 32px;
    /* Disminuyendo el tamaño del título para móviles */
    margin-bottom: 20px;
  }

  .contact form input,
  .contact form textarea {
    padding: 12px 20px;
    /* Disminuyendo el padding para que los campos de texto se vean bien en móviles */
    font-size: 16px;
  }

  .contact form input::placeholder,
  .contact form textarea::placeholder {
    font-size: 14px;
    /* Ajustando el tamaño del placeholder para móviles */
  }

  .contact form button {
    padding: 12px 24px;
    /* Ajustando el tamaño del botón para móviles */
    font-size: 16px;
    margin-top: 20px;
  }
}

/************ Footer Css ************/

.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg-blue.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 250px;
  color: #ffffff;
  /* Let's keep the text color consistent */
  text-align: center;
  /* Centering footer content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* This centers the content horizontally and vertically */
}

.footer-logo {
  margin-top: 25px;
  width: 50%;
  max-width: 200px;
  /* Prevents the logo from becoming too big on larger screens */
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: inherit;
  /* Inherits color from the parent for consistency */
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 0;
  /* Remove default margin from paragraphs if any */
}

.footer-icons-box {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  /* Align icons to center */
}

.footer-CR-box {
  margin: 20px auto;
  padding: 10px;
  /* Give it some breathing room */
}

.footer-text-sm {
  font-size: 0.875rem; /* Ajustando el tamaño del texto */
  margin-top: 0.5rem; /* Un poco de margen en la parte superior */
  color: #D1D5DB; /* Un gris claro para el texto pequeño */
}

.footer-link {
  color: #BFDBFE; /* Un azul claro para los enlaces */
  transition: color 0.3s ease-in-out; /* Transición suave para el color */
}

.footer-link:hover {
  color: #93C5FD; /* Un azul más vibrante para el estado hover */
  text-decoration: underline; /* Subrayado al pasar el mouse para destacar */
}

/* Especificaciones para el año actual */
.footer-year {
  font-weight: bold; /* Negrita para el año */
  color: #EAB308; /* Un amarillo dorado para que resalte */
}

/* Media Queries for mobile devices */
@media only screen and (max-width: 768px) {
  .footer {
    padding: 20px;
    /* A little more padding for a touch of space */
    max-height: none;
    /* Remove max-height restriction */
    /* Keep the background styles the same unless you want to change the image for mobile */
  }

  .footer-logo {
    margin-top: 15px;
    /* A bit less margin on the top */
    width: 60%;
    /* A bit more width since we have more space vertically */
    max-width: 150px;
    /* A smaller max-width for smaller screens */
  }

  .footer p {
    font-size: 16px;
    /* A bit larger font size for those reading on the go */
    margin-top: 15px;
    /* Slightly less margin for a more compact look */
    padding: 0 10px;
    /* Add padding to keep the text from the edges */
  }

  .footer-icons-box {
    margin: 15px auto;
    /* Slightly less margin for a tighter look */
    flex-direction: column;
    /* Stack icons vertically for smaller screens */
    gap: 10px;
    /* Add a gap between stacked icons */
  }

  .footer-CR-box {
    margin: 15px auto;
    /* Again, a bit less margin for a more compact look */
    padding: 15px;
    /* More padding for a plumper feel */
  }

  .footer-text-sm {
    font-size: 0.75rem; /* Un tamaño de texto aún más pequeño para dispositivos móviles */
    margin-top: 0.25rem; /* Menos margen en la parte superior */
  }

  .footer-link {
    /* Mantenemos los estilos del enlace consistentes en móviles */
  }

  .footer-year {
    /* No se necesita cambiar el año, pero aquí estaría el espacio si lo necesitases */
  }

}

/* global, APP */

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}

.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}

.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
} */

/************ Projects Css ************/
/* #link-card-project {
  text-decoration: none;
  color: #fff;
}

.project {
  padding: 80px 0;
  position: relative;
  background-image: url('./assets/img/bkg-blue.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.project p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project .nav.nav-pills {
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}

.project .nav.nav-pills .nav-item {
  width: 50%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #0658F6 -5.91%, #ede9e9 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #0658F6 -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.25s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 75%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
} */

/* .carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
} */